<div class="row">
    <div class="col-md-12 text-center">
        <ul class="list-group">
            <li class="list-group-item disabled">Seleccione una opción del listado</li>
            <li class="list-group-item">@Html.ActionLink("Detalle Parada", "ShowStopDetail", "EMT", null, new { @class = "btn btn-light btn-block"})</li>
            <li class="list-group-item">@Html.ActionLink("Tiempo Llegada Bus", "showTimeArrivalBus", "EMT", null, new { @class = "btn btn-light btn-block"})</li>            
        </ul>
    </div>
</div>