<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Bienvenido a MásMovilidad</h1>
        <p>Consulte toda la información que necesite a cerca de la EMT</a>.</p>
    </div>
</div>


