<div class="row">
    <div class="col-md-12">
        <h1 class="display-4 text-center">Introduce el número de la estación</h1>
        <form   asp-controller = "BiciMad" 
                asp-action = "ShowDetailBiciMad"
                data-ajax = "true"
                data-ajax-method = "post" 
                data-ajax-loading = "#spinner"
                data-ajax-update = "#biciMadDetailResult"
                data-ajax-begin = "emptyBiciMadDetailDiv"
                class="mt-3">    

            <div class="form-group">
                <label for="stopId">Número de la estación</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" id="idStation" name="idStation" aria-describedby="idStationdNumber" placeholder="Ejemplo: 54" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="idStationdNumber">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-6 col-sm-6">
                    <button type="submit" class="btn btn-outline-info btn-block">Obtener Información</button>
                </div>
                <div class="col-md-6 col-6 col-sm-6">
                    @Html.ActionLink("Volver al listado", "Index", "Home", null,  new { @class = "btn btn-outline-info btn-block"})
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div id="spinner" class="mt-3 mb-3" style="display:none;">                
            <span style="font-size: 3em;">
                <i class="fas fa-spinner fa-spin"></i>
            </span>
        </div>
    </div>
</div>

<div id="biciMadDetailResult"></div>

<script>
    function emptyBiciMadDetailDiv(){
        $("#biciMadDetailResult").empty();
    }

    document.getElementById("idStationdNumber").addEventListener("click", () =>{
        document.getElementById("idStation").value = "";
    });
</script>